.menu {
  margin: 0;
  padding: 5px 10px;
  background: #333;

  li {
    display: inline-block;
    margin-right: 15px;

    a {
      color: #ccc;
      font-family: Arial;
      text-decoration: none;

      &.-active {
        font-weight: 700;
        color: #fff;
        cursor: default;
      }
    }
  }
}
